.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.registration-container .registration-description {
  margin-bottom: 20px;
}

.registration-container .registration-description h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.registration-container .registration-check-wrap {
  width: 100%;
  background-color: #F7F7F7;
  padding: 60px 40px;
}

.registration-container .registration-check-wrap .all-check-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.registration-container .registration-check-wrap .all-check-label .checkbox-custom {
  font-size: 20px;
}

.registration-container .registration-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1290px;
  border: 1px solid #e1e1e1;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 120px;
}

.registration-container .registration-title-box {
  letter-spacing: 0;
  padding-top:120px;
  padding-bottom: 12px;
  width: 100%;
  max-width: 800px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.registration-container .registration-title-box .title{
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.registration-container .registration-form input {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
}

.registration-container .registration-form input:focus {
  outline: none;
}

.registration-container .registration-form button {
  margin-top: 20px;
  margin-bottom: 100px;
}
